
html { 
  background: url(https://images.unsplash.com/photo-1452457750107-cd084dce177d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=8e6bf873120dc3137f167d2b1bc5a70b) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.prof-box{
   width:400px;
   height:400px;
  background:rgb(0,0,0,0.4);
}
body {
    background-image: url("paper.gif");
}