
html { 
  background: url(https://unsplash.com/photos/4Hg8LH9Hoxc) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.prof-box{
   width:400px;
   height:400px;
  background:rgb(0,0,0,0.4);
}
body {
    background-image: url("paper.gif");
}