
html { 
  background: url(https://images.unsplash.com/photo-1429051781835-9f2c0a9df6e4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=9a3bb1b453c652f01cd41785395c5c59) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.prof-box{
   width:400px;
   height:400px;
  background:rgb(0,0,0,0.4);
  color:white;
  margin:0 auto;
  margin-top:140px;
}
.prof-pic{
    border-radius:50px;
    height:200px;
    width:200px;
}
